<!DOCTYPE html>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 text-light bg-dark">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Logines time tracking</h5>
                <p>If you need any help with using this system, please don't be afreaid to ask questions!</p>
                <p>Phone number: +372 588 028 767</p>
                <p>Email: info@logines.ee</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright
        <a href="http://www.logines.ee" class="footer-text"> Logines.ee</a>
    </div>
    <!-- Copyright -->

</footer>