<!DOCTYPE html>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 text-light bg-dark">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Logines time tracking</h5>
                <p>If you need any help with using this system, please don't be afreaid to ask questions!</p>
                <p>Phone number: +372 588 028 767</p>
                <p>Email: info@logines.ee</p>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <div class="mapouter"><div class="gmap_canvas"><iframe width="345" height="243" id="gmap_canvas" src="https://maps.google.com/maps?q=Kriidi7&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:243px;width:345px;}.gmap_canvas {overflow:hidden;background:none!important;height:243px;width:345px;}</style></div>
            </div>

            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright
        <a href="http://www.logines.ee" class="footer-text"> Logines.ee</a>
    </div>
    <!-- Copyright -->

</footer>