<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Time-tracking system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
</head>
<body>
<style>
    td{ cursor: pointer; }
    td:hover { background-color: #2ECCFA; }
</style>
<script>
   $(document).keyup(function(e) {
    if (e.which == 27){
        window.location.href="../";
    }
});
</script>

<div class="container">
    <h2><a href="../../"> Time-tracking system </a>/Job Details</h2>

    <div class="tab-content ">
        <div class="tab-pane active" id="classesTab">
            <table class="table" id="tableForm">
                <div class="form-group">
                    <label>Name:</label>
                    <p th:text="${scheduleClass.name}"></p>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <p th:text="${scheduleClass.description}"></p>
                </div>
                <div class="form-group">
                    <label>Teacher:</label>
                    <p th:text="${scheduleClass.teacherName}"></p>
                </div>
                <div class="form-group">
                    <label>Minutes:</label>
                    <p th:text="${scheduleClass.timeMinutes}"></p>
                </div>
                <form th:action="@{/edit-class/} + ${scheduleClass.id}" method="get">
                    <button type="submit" class="btn btn-default">EDIT</button>
                </form>&nbsp;&nbsp;
                <form th:action="@{/delete-class/} + ${scheduleClass.id}" method="post">
                    <button type="submit" class="btn btn-dark">DELETE</button>
                </form>
                <br />
                <br />
                HINT: <i>press ESC to return to main page.</i>
            </table>
        </div>
    </div>
</div>

</body>
</html>