<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- My styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <!-- NEW CONTENT -->
    <meta name="author" content="Logines">
    <meta name="description"
          content="Logines time-tracking system for workers."/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="/moment-duration-format/moment-duration-format.js"></script>
    <script
            src="https://code.jquery.com/jquery-1.11.1.min.js"
            integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://cdn.datedropper.com/get/qsn9j0v26bkqfwe4oo4gvlxgjioau7om"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/assets/js/main_heading.js"></script>
    <script src="https://cdn.datedropper.com/get/qsn9j0v26bkqfwe4oo4gvlxgjioau7om"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css"> -->

    <!-- DATETIME PICKER -->
    <link href="/main.css" rel="stylesheet" type="text/css"/>
    <link href="/rome-date-time-picker/rome.css" rel="stylesheet" type="text/css"/>

    <!-- Sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>

<style>
    td{ cursor: pointer; }
    td:hover { background-color: #2ECCFA; }

</style>

<script>
function search(){
    var name = $("#searchbox").val();
    window.location.href="query-result-student-classes/"+ name;
}
function viewWorkHour(id){
    window.location.href="work-hour-details/" + id;
}


</script>

<script th:inline="javascript">
/*<![CDATA[*/
$( function() {
    var allStudents= [
         /*[# th:each="student : ${allStudents}"]*/
            [[${student.name}]]
       /*[/]*/
    ];
    $( "#searchbox" ).keyup(function(){
        $( "#searchbox" ).autocomplete({
          source: allStudents,
          select: function(event, ui) {
                $('#searchbox').val(ui.item.value);
                search();
                return false;
            }
        });
    });
    $('#workhour-form').submit(function() {
        if($.trim($("#title").val()) === ""){
            $("#title").val("No title");
        }
        if ($.trim($("#start_time").val()) === "" || $.trim($("#end_time").val()) === "" || $.trim($("#lunch_time").val()) === "") {
            $("#work-hour-validation-error").show();
            return false;
        }
    });
    $(document).keyup(function(e) {
        if (e.which == 27){
            window.location.href="../";
        }
    });
 });
/*]]>*/


</script>
<script>
   $(document).keyup(function(e) {
    if (e.which == 27){
        window.location.href="../";
    }
    $('#user-form').submit(function() {
    if ($.trim($("#username").val()) === "" || $.trim($("#email").val()) === "" || $.trim($("#fullname").val()) === "" || $.trim($("#id_code").val()) === "" || $.trim($("#phone").val()) === "") {
        $("#user-validation-error").show();
        return false;
    }
});

</script>

<body>
<header class="text-component text-center">
    <h1>Logines-time-tracking system</h1>
    <h6 th:text="${'Welcome ' + usernameText + '!'}">Welcome username</h6>
    <form id="logoutForm" class="logout-form" method="POST" style="float: left;padding-left: 65%;"
          th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button class="btn btn-primary float-right logout-btn" type="submit">LOG OUT</button>
        <br/>
    </form>
</header>
<div class="cd-tabs cd-tabs--vertical container max-width-md margin-top-xl margin-bottom-lg js-cd-tabs">
    <ul class="cd-tabs__panels">
        <li id="tab-dashboard" class="cd-tabs__panel cd-tabs__panel--selected text-component">

            <button class="btn btn-primary float-right" onclick="editUserBtn()">EDIT USER</button>
            <br />
            <div id="edit-user" style="display:none;">
                <table class="table logines-table" id="tableForm">
                    <p style="display:none; color:red;" id="user-validation-error">Please fill in all data</p>
                    <form th:if="${role == 'ADMIN'}" th:action="@{/edit-user/} + ${user.id}" id="user-form"
                          th:object="${user}" method="post">
                        <div class="form-group">
                            <label>Username:</label>
                            <div>
                                <input type="text" th:value="${user.username}" th:name="username" th:id="username"
                                       placeholder="Username" class="form-control" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <div>
                                <input type="text" th:value="${user.email}" th:name="email" th:id="email"
                                       placeholder="User email" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Fullname:</label>
                            <div>
                                <input type="text" th:value="${user.fullname}" th:name="fullname" th:id="fullname"
                                       placeholder="Fullname" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>ID Code:</label>
                            <input type="text" th:value="${user.id_code}" th:name="id_code" th:id="id_code"
                                   class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label>Phone:</label>
                            <input type="text" th:value="${user.phone}" th:name="phone" th:id="phone"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Role:</label>
                            <select th:field="*{role}" th:value="${user.role}">
                                <option th:value="'USER'" th:text="USER"></option>
                                <option th:value="'ADMIN'" th:text="ADMIN"></option>
                            </select>
                            <span class="focus-input100"></span>

                        </div>
                        <input type="hidden" th:value="${user.password}" name="password" th:id="password"/>
                        <button type="submit" class="btn btn-success">EDIT</button>
                    </form>
                    <form th:if="${role == 'ADMIN' and user.username!= usernameText}" onsubmit="return confirm('Do you really want to delete the user?');"
                          th:action="@{/delete-user/} + ${user.username}" th:object="${user}" method="post">
                        <button type="submit" class="btn btn-dark">DELETE</button>
                    </form>
                    <br/>
                    <br/>
                </table>
            </div>
            <br />
            <div class="p-t-136">
                <a class="txt2" href="../">
                    Back to main page
                    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
            </div>
            <br />
            <hr />
            <h5 th:if="${userWorkHours.empty}" th:text="${'User ' + user.username + ' does not have any working hours'}"></h5>
            <div th:if="${userWorkHours!=null and !userWorkHours.empty}" class="container">
                <h5 th:text="${'User ' + user.username + ' total workhours: ' + userWorkHoursSum}"></h5>
                <h5 th:text="${'User ' + user.username + ' working history'}"></h5>
                <table class="table-striped logines-table">
                    <thead>
                    <tr>
                        <th scope="col">Work start time</th>
                        <th scope="col">Work end time</th>
                        <th scope="col">Lunch time</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Total</th>
                        <th scope="col" th:if="${role == 'ADMIN'}">Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:onclick="'viewWorkHourDetails(' + ${userWorkHour.id} +')'"
                        th:each="userWorkHour : ${userWorkHours}">
                        <td th:id="'user-work-hour-'+ ${userWorkHour.id} + '-start-time'"
                            th:text="${userWorkHour.start_time}"></td>
                        <td th:id="'user-work-hour-'+ ${userWorkHour.id} + '-end-time'"
                            th:text="${userWorkHour.end_time}"></td>
                        <td th:text="${userWorkHour.lunch_time}"></td>
                        <td style="overflow-wrap: break-word;" th:text="${userWorkHour.notes}"></td>
                        <td th:id="'user-work-hour-'+ ${userWorkHour.id} + '-sum'"></td>
                        <td scope="col" th:if="${role == 'ADMIN'}">
                            <form th:if="${role == 'ADMIN'}" th:action="@{/edit-work-hour/} + ${userWorkHour.id}"
                                  method="get">
                                <button type="submit" class="btn btn-default">EDIT</button>
                            </form>
                            <form th:if="${role == 'ADMIN'}" th:action="@{/delete-work-hour/} + ${userWorkHour.id}"
                                  method="post">
                                <button type="submit" class="btn btn-dark delete-btn">DELETE
                                </button>
                            </form>


                        </td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${userWorkHours==null}">
                <p>User havn't added any worktime yet</p>
            </div>


        </li>

    </ul> <!-- cd-tabs__panels -->
</div><!-- cd-tabs -->
<script>
function editUserBtn() {
  var x = document.getElementById("edit-user");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

</script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var theList = [[${userWorkHours}]];
    for (i = 0; i < theList.length; i++) {
        var StartTime = moment(theList[i].start_time, "YYYY-MM-DD HH:mm:ss");
        var EndTime = moment(theList[i].end_time, "YYYY-MM-DD HH:mm:ss");
        var Lunch = moment(theList[i].lunch_time, "HH:mm:ss");
        var TotalTime = ((EndTime.subtract(StartTime)).subtract(Lunch)).format("HH:mm:ss");
        console.log("Total time " + i + " row" + TotalTime);
        $("#user-work-hour-" + theList[i].id +"-sum").append(TotalTime);
    }

    /*]]>*/
</script>



<script src="/assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
<script src="/assets/js/main.js"></script>
<script src='/rome-date-time-picker/rome.js'></script>
<script src='/rome-date-time-picker/example.js'></script>

</body>
</html>
