<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logines time-tracking</title>
    <!-- My styles -->
    <link rel="stylesheet" href="/assets/css/style.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>


    <!-- NEW CONTENT -->
    <meta name="author" content="Logines">
    <meta name="description"
          content="Logines time-tracking system for workers."/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-1.11.1.min.js"
            integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <!-- DATETIME PICKER -->
    <link href="/main.css" rel="stylesheet" type="text/css"/>
    <link href="/rome-date-time-picker/rome.css" rel="stylesheet" type="text/css"/>

    <!-- Sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="//unpkg.com/timeago.js"></script>
    <script src="/tiny_ago/tinyAgo.js"></script>

</head>

<script>
function editClass(id) {
   window.location.href="edit-class/"+ id;
}
function addClass(){
    window.location.href="add-class/";
}
function deleteClass(id){
    window.location.href="delete-class/"+ id;
}
function searchWorkHourByUsername(){
    var username = $("#search-work-hour-by-username").val();
    window.location.href="search-users-work-hour/"+ username;
    document.getElementById('search-by-username').action = window.location.href="search-users-work-hour/"+ username;
}

document.getElementById("search-by-username").addEventListener("submit",function(){
    var username = $("#search-work-hour-by-username").val();
    window.location.href="search-users-work-hour/"+ username;
},false);

function searchUserByUsername(){
    var username = $("#user-search-by-username").val();
    window.location.href="/search-user/"+ username;
}

function viewWorkHour(id){
    window.location.href="work-hour-details/" + id;
}

function viewUser(id){
    window.location.href="/get-user/" + id;
}

function timeSince(date) {
    var seconds = Math.floor((new Date() - date) / 1000);

    var interval = Math.floor(seconds / 31536000);

    if (interval > 1) {
        return interval + " years";
    }
    interval = Math.floor(seconds / 2592000);
    if (interval > 1) {
        return interval + " months";
    }
    interval = Math.floor(seconds / 86400);
    if (interval > 1) {
        return interval + " days";
    }
    interval = Math.floor(seconds / 3600);
    if (interval > 1) {
        return interval + " hours";
    }
    interval = Math.floor(seconds / 60);
    if (interval > 1) {
        return interval + " minutes";
    }

    return Math.floor(seconds) + " seconds";
}
function timeSince(date) {

  var seconds = Math.floor((new Date() - date) / 1000);

  var interval = Math.floor(seconds / 31536000);

  if (interval > 1) {
    return interval + " years";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval > 1) {
    return interval + " months";
  }
  interval = Math.floor(seconds / 86400);
  if (interval > 1) {
    return interval + " days";
  }
  interval = Math.floor(seconds / 3600);
  if (interval > 1) {
    return interval + " hours";
  }
  interval = Math.floor(seconds / 60);
  if (interval > 1) {
    return interval + " minutes";
  }
  return Math.floor(seconds) + " seconds";
}





</script>

<script th:inline="javascript">
/*<![CDATA[*/
$( function() {
    var allStudents= [
         /*[# th:each="student : ${allStudents}"]*/
            [[${student.name}]]
       /*[/]*/
    ];
    $( "#searchbox" ).keyup(function(){
        $( "#searchbox" ).autocomplete({
          source: allStudents,
          select: function(event, ui) {
                $('#searchbox').val(ui.item.value);
                search();
                return false;
            }
        });
    });
    $('#workhour-form').submit(function() {
        if($.trim($("#description").val()) === ""){
            $("#description").val("No description");
        }
        if ($.trim($("#start_time").val()) === "" || $.trim($("#end_time").val()) === "" || $.trim($("#lunch_time").val()) === "") {
            $("#work-hour-validation-error").show();
            return false;
        }
    });
     /*[# th:each="userWorkhour : ${userWorkHours}"]*/
        //$("#user-work-hour-[[${userWorkhour.id}]]-created-at").text(moment( $(this).text(), 'yyyy-MM-dd HH:mm:ss').format());
        //$("#user-work-hour-[[${userWorkhour.id}]]-start-time").text(ago( $(this).text()));
        //$("#user-work-hour-[[${userWorkhour.id}]]-start-time").text(moment( $(this).text(), 'yyyy-MM-dd HH:mm:ss').format());
        //$("#user-work-hour-[[${userWorkhour.id}]]-end-time").text(moment( $(this).text(), 'yyyy-MM-dd HH:mm:ss').format());

    /*[/]*/

 });
/*]]>*/




</script>


<body>
<header class="text-component text-center">
    <h1>Logines-time-tracking system</h1>
    <p style="color:aqua;">Total workhours</p>
    <h2 th:text="${userWorkHoursSum}" font-family="Bubblegum Sans" font-size="35" fill="aqua"></h2>
    <h6 th:text="${'Welcome ' + usernameText + '!'}">Welcome username</h6>
    <form id="logoutForm" class="logout-form" method="POST" style="float: left;padding-left: 65%;"
          th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button class="btn btn-primary float-right logout-btn" type="submit">LOG OUT</button>
        <br/>
    </form>
</header>
<div class="cd-tabs cd-tabs--vertical container max-width-md margin-top-xl margin-bottom-lg js-cd-tabs">
    <nav class="cd-tabs__navigation">
        <ul class="cd-tabs__list">
            <li>
                <a href="#tab-dashboard" class="cd-tabs__item cd-tabs__item--selected" style="padding: 6px;">
                    <img src="images/dashboard.png" width="50px" height="50px">
                    <p style="text-align:center; margin:auto;">DASHBOARD</p>
                </a>
            </li>

            <li>
                <a href="#tab-workhours" class="cd-tabs__item">
                    <img src="/images/working-hours.png" width="50px" height="50px" style="padding: 6px;"/>
                    <p style="text-align:center; margin:auto;">ALL WORKHOURS</p>
                </a>
            </li>

            <li>
                <a href="#tab-my-profile" class="cd-tabs__item">
                    <img src="/images/user.png" width="50px" height="50px" style="padding: 6px;"/>
                    <p style="text-align:center; margin:auto;">MY PROFILE</p>
                </a>
            </li>

            <li th:if="${role == 'ADMIN'}">
                <a href="#tab-users" class="cd-tabs__item">
                    <img src="/images/team.png" width="50px" height="50px" style="padding: 6px;"/>
                    <p style="text-align:center; margin:auto;">USERS</p>
                </a>
            </li>
        </ul> <!-- cd-tabs__list -->
    </nav>

    <ul class="cd-tabs__panels">
        <li id="tab-dashboard" class="cd-tabs__panel cd-tabs__panel--selected text-component">


            <form method="post" th:action="@{/add-work-hour}" th:object="${workHourForm}" id="workhour-form">
                <p style="display:none; color:red;" id="work-hour-validation-error">Please fill in all data</p>
                <input type="text" th:value="${usernameText}" placeholder="Enter your fullname" class="form-control"
                       style="display:none;"
                       th:name="username" th:id="username" readonly/>
                <p th:text="${error}">Test</p>
                <!--<input type="hidden" th:value="${usernameText}" th:id="username" name="username" th:field="*{username}"/> -->
                <div class="form-group">
                    <label>Work begin time:</label>
                    <div class="input-group date" id="work-begin-time">
                        <input type="text" id="start_time" name="start_time" th:attr="data-field='datetime'"
                               class="form-control" th:field="*{start_time}" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <p th:text="${workhouraddingError}">Test</p>
                    <label>Work end time:</label>
                    <div class="input-group date" id="work-end-time">
                        <input type="text" id="end_time" name="end_time" th:attr="data-field='datetime'"
                               class="form-control" th:field="*{end_time}" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label>Work lunch time:</label>
                    <div class="input-group date" id="work-lunch-time">
                        <input type="text" id="lunch_time" name="lunch_time" th:attr="data-field='time'"
                               class="form-control" th:field="*{lunch_time}" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label>Notes:</label>
                    <div class="input-group date" id="description">
                        <textarea class="form-control" rows="5" id="notes" placeholder="Enter description"
                                  name="notes" th:field="*{notes}"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-success add-class">
                    <i class="fa fa-plus"></i>
                    ADD WORKHOUR
                </button>
                <!--<input type="hidden" id="username" name="username" th:value="${usernameText}" th:field="*{username}"/> -->
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>

            <p th:if="${userWorkHours==null and !userWorkHours.empty}">You don't have any records in your workhour
                history</p>

            <div th:if="${userWorkHours!=null and !userWorkHours.empty}" class="container">
                <h4>My working history</h4>
                <table class="table-striped logines-table">
                    <thead>
                    <tr>
                        <th scope="col">Work start time</th>
                        <th scope="col">Work end time</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Lunch time</th>
                        <th scope="col">Added</th>
                        <th scope="col" th:if="${role == 'ADMIN'}">Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:onclick="'viewWorkHourDetails(' + ${userWorkHour.id} +')'"
                        th:each="userWorkHour : ${userWorkHours}">
                        <td th:id="'user-work-hour-'+ ${userWorkHour.id} + '-start-time'"
                            th:text="${userWorkHour.start_time}"></td>
                        <td th:id="'user-work-hour-'+ ${userWorkHour.id} + '-end-time'"
                            th:text="${userWorkHour.end_time}"></td>
                        <td th:text="${userWorkHour.notes}"></td>
                        <td th:text="${userWorkHour.lunch_time}"></td>
                        <td th:id="'user-work-hour-'+ ${userWorkHour.id} + '-created-at'"
                            th:text="${userWorkHour.created_at}"></td>
                        <td>
                            <form th:if="${role == 'ADMIN'}" th:action="@{/edit-work-hour/} + ${userWorkHour.id}"
                                  method="get">
                                <button type="submit" class="btn btn-default">EDIT</button>
                            </form>
                            <form th:if="${role == 'ADMIN'}" th:action="@{/delete-work-hour/} + ${userWorkHour.id}"
                                  method="post">
                                <button type="submit" class="btn btn-dark delete-btn">DELETE
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${userWorkHours==null}">
                <p>You havn't added any worktime yet</p>
            </div>
        </li>

        <li id="tab-workhours" class="cd-tabs__panel text-component">
            <p th:if="${userWorkHours.empty}">No records found in workhour history</p>
            <form method="post" id="search-by-date-range" th:object="${workHourForm}">
                <div class="input-group date">
                    <input type="text" id="start-time-range" name="start_time" th:attr="data-field='datetime'"
                           class="form-control" th:field="*{start_time}" readonly/>
                </div>
                <div class="input-group date">
                    <input type="text" id="end-time-range" name="start_time" th:attr="data-field='datetime'"
                           class="form-control" th:field="*{end_time}" readonly/>
                </div>
            </form>


            <form method="post" id="search-by-username" th:object="${workHourForm}">
                Username: <input type="text" name="username" id="search-work-hour-by-username"><br>
                <button type="submit" class="btn btn-success add-class"><i
                        class="fa fa-plus"></i>SEARCH WORKHOUR BY USERNAME
                </button>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <table th:if="${userWorkHours!=null and !userWorkHours.empty}" class="table logines-table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Lunch time</th>
                    <th>Added</th>
                    <th scope="col" th:if="${role == 'ADMIN'}">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="list-item" th:each="allWorkHour : ${allWorkHours}"
                    th:onclick="'viewWorkHour(' + ${allWorkHour.id} +')'">
                    <td th:text="${allWorkHour.username}"></td>
                    <td th:text="${allWorkHour.start_time}"></td>
                    <td th:text="${allWorkHour.end_time}"></td>
                    <td th:text="${allWorkHour.lunch_time}"></td>
                    <td th:text="${allWorkHour.created_at}"></td>
                    <td>
                        <form th:if="${role == 'ADMIN'}" th:action="@{/edit-work-hour/} + ${allWorkHour.id}"
                              method="get">
                            <button type="submit" class="btn btn-default">EDIT</button>
                        </form>
                        <form th:if="${role == 'ADMIN'}" th:action="@{/delete-work-hour/} + ${allWorkHour.id}"
                              method="post">
                            <button type="submit" class="btn btn-dark delete-btn">DELETE
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>

        <li id="tab-my-profile" class="cd-tabs__panel text-component">
            <form th:action="@{/edit-user-profile/}" th:object="${userProfile}"
                  enctype="application/x-www-form-urlencoded" method="POST">
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" th:value="${usernameText}" placeholder="Enter your fullname" class="form-control"
                           th:name="username" th:id="username" readonly/>
                </div>
                <div class="form-group">
                    <label>Fullname:</label>
                    <input type="text" class="form-control" th:value="${myUser.fullname}" id="fullname"
                           placeholder="Enter your fullname" name="fullname"/>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" th:value="${myUser.email}" id="email"
                           placeholder="Enter your email" name="email"/>
                </div>
                <div class="form-group">
                    <label>Id Code:</label>
                    <input type="text" class="form-control" th:value="${myUser.id_code}" id="id_code"
                           placeholder="Enter your id code" name="id_code"/>
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    <input type="number" class="form-control" th:value="${myUser.phone}" id="phone"
                           placeholder="Enter your phone number" name="phone"/>
                </div>
                <div class="form-group">
                    <label>Role:</label>
                    <input type="text" th:value="${role}" placeholder="Enter your fullname" class="form-control"
                           th:name="role" th:id="role" readonly/>
                </div>
                <button type="submit" class="btn btn-success">CHANGE USER DATA</button>&nbsp;&nbsp;
            </form>
            <form id="delete_User_data" method="POST" th:action="@{/delete-user-profile/} + ${usernameText}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <br/>
            <br/>
            <form th:if="${role == 'ADMIN'}" id="register_new_user" method="POST" th:action="@{/register}">
                <button class="btn btn-primary" type="submit">REGISTER NEW USER</button>
            </form>
        </li>

        <li th:if="${role == 'ADMIN'}" id="tab-users" class="cd-tabs__panel text-component">
            <p th:if="${users.empty}">No other users found</p>
            <table th:if="${users!=null and !users.empty}" class="table logines-table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>ID Code</th>
                    <th>Phone</th>
                    <th>Role</th>
                    Username: <input type="text" name="username" id="user-search-by-username"><br>
                    <button onclick="searchUserByUsername()" class="btn btn-success add-class"><i
                            class="fa fa-plus"></i>SEARCH BY USERNAME
                    </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="list-item" th:each="user : ${users}"
                    th:onclick="'viewUser(' + ${user.id} +')'">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.fullname}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.role}"></td>
                </tr>
                </tbody>
            </table>
        </li>


    </ul> <!-- cd-tabs__panels -->
</div> <!-- cd-tabs -->
<script src="/assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
<script src="/assets/js/main.js"></script>
<script src='/rome-date-time-picker/rome.js'></script>
<script src='/rome-date-time-picker/example.js'></script>

</body>
</html>
