<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Register new user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/> -->
    <meta name="author" content="Logines">
    <meta name="description"
          content="Logines time-tracking system for workers."/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-1.11.1.min.js"
            integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <!--BACKGROUND -->
    <link rel="icon" href="http://sixrevisions.com/favicon.ico" type="image/x-icon"/>
    <link href="http://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- responsive-full-background-image.css stylesheet contains the code you want -->
    <!-- LOGIN PAGE STYLES -->
    <link rel="stylesheet" type="text/css" href="/login_style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_style/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_style/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_style/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_style/css/util.css">
    <link rel="stylesheet" type="text/css" href="/login_style/css/main.css">
    <!--===============================================================================================-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        $( function() {
            $('#validate-form').submit(function() {
                if($.trim($("#end_time_range").val()) === "" && $.trim($("#start_time_range").val()) != ""){
                    $("#validation-error").show();
                    return false;
                }
                if($.trim($("#username").val()) != ""){
                    $("#validation-error").show();
                    return false;
                }
                if($.trim($("#password").val()) != ""){
                    $("#validation-error").show();
                    return false;
                }
                if($.trim($("#passwordConfirm").val()) != ""){
                    $("#validation-error").show();
                    return false;
                }
                if($.trim($("#fullname").val()) != ""){
                    $("#validation-error").show();
                    return false;
                }
                if($.trim($("#email").val()) != ""){
                    $("#validation-error").show();
                    return false;
                }
                if($.trim($("#id_code").val()) != ""){
                    $("#validation-error").show();
                    return false;
                }
                if($.trim($("#phone").val()) != ""){
                    $("#validation-error").show();
                    return false;
                }
            });
         });
        /*]]>*/
    </script>
</head>

<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="/login_style/images/img-01.png">
            </div>
            <p style="display:none; color:red;" id="validation-error">All fields are required.</p>
            <form class="login100-form validate-form" th:action="@{/register}" th:object="${registerForm}" method="POST">
                <p class="login100-form-title" style="font-size: 30px;">
                    Register a new worker
                </p>
                <br />
                <p class="login100-form-error" style="color: azure;" th:text="${error}">Test</p>
                <br />

                <label><span class="fa fa-envelope" aria-hidden="true" style="color: azure;font-size: 40px;padding-top: 15px;"/></label>
                <div class="wrap-input100 validate-input">
                    <input type="text" class="form-control" id="username" placeholder="Enter name" name="username"
                           th:field="*{username}"/>
                    <span class="focus-input100"></span>
                </div>

                <label><span class="fa fa-lock" aria-hidden="true" style="color: azure;font-size: 40px;padding-top: 15px;"></span></label>
                <div class="wrap-input100 validate-input">
                    <input type="password" class="form-control" id="password" placeholder="Enter password"
                           name="password"
                           th:field="*{password}"/>
                    <span class="focus-input100"></span>

                </div>
                <label><span class="fa fa-key" aria-hidden="true" style="color: azure;font-size: 40px;padding-top: 15px;"></span></label>
                <div class="wrap-input100 validate-input">
                    <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm password"
                           name="passwordConfirm" th:field="*{passwordConfirm}"/>
                    <span class="focus-input100"></span>

                </div>
                <label><span class="fa fa-user-md" aria-hidden="true" style="color: azure;font-size: 40px;padding-top: 15px;"></span></label>
                <div class="wrap-input100 validate-input">
                    <input type="text" class="form-control" id="fullname" placeholder="Full name"
                           name="fullname" th:field="*{fullname}"/>
                    <span class="focus-input100"></span>

                </div>
                <label><span class="fa fa-envelope" aria-hidden="true" style="color: azure;font-size: 40px;padding-top: 15px;"></span></label>
                <div class="wrap-input100 validate-input">
                    <input type="email" class="form-control" id="email" placeholder="E-mail"
                           name="email" th:field="*{email}"/>
                    <span class="focus-input100"></span>

                </div>
                <label><span class="fa fa-id-card" aria-hidden="true" style="color: azure;font-size: 40px;padding-top: 15px;"></span></label>
                <div class="wrap-input100 validate-input">
                    <input type="number" class="form-control" id="id_code" placeholder="ID code"
                           name="id_code" th:field="*{id_code}"/>
                    <span class="focus-input100"></span>

                </div>

                <label><span class="fa fa-phone" aria-hidden="true" style="color: azure;font-size: 40px;padding-top: 15px;"></span></label>
                <div class="wrap-input100 validate-input">
                    <input type="text" class="form-control" id="phone" placeholder="phone"
                           name="phone" th:field="*{phone}"/>
                    <span class="focus-input100"></span>

                </div>

                <label><span class="fa fa-lock" aria-hidden="true" style="color: azure;font-size: 40px;padding-top: 15px;"></span></label>
                <div class="wrap-input100 validate-input">
                    <select th:field="*{role}">
                        <option th:value="'USER'" th:text="USER"></option>
                        <option th:value="'ADMIN'" th:text="ADMIN"></option>
                    </select>
                    <span class="focus-input100"></span>

                </div>

                <div class="wrap-input100 validate-input">
                    <select th:field="*{company_name}">
                        <option th:each="company : ${companyList}" th:value="${company.company_name}" th:text="${company.company_name}"></option>
                    </select>
                    <span class="focus-input100"></span>

                </div>

                <div class="container-login100-form-btn">
                    <button class="btn btn-primary float-right login100-form-btn m-t-30" >
                        Register user
                    </button>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    var allUsersFullName = [];
    var allUsersUserName = [];
    /*[# th:each="n : ${users}"]*/
        allUsersFullName.push("[(${n.fullname})]");
    /*[/]*/
    /*[# th:each="n : ${users}"]*/
        allUsersUserName.push("[(${n.username})]");
    /*[/]*/

    $( "#user-search-by-fullname" ).autocomplete({
          source: allUsersFullName
    });
    $( "#search-work-hour-by-username" ).autocomplete({
          source: allUsersUserName
    });

/*]]>*/
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--===============================================================================================-->
<script src="/login_style/vendor/bootstrap/js/popper.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>