<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- My styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/moment/moment.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>


    <!-- NEW CONTENT -->
    <meta name="author" content="Logines">
    <meta name="description"
          content="Logines time-tracking system for workers."/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-1.11.1.min.js"
            integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>

    <!-- DATETIME PICKER -->
    <link href="/main.css" rel="stylesheet" type="text/css"/>
    <link href="/rome-date-time-picker/rome.css" rel="stylesheet" type="text/css"/>

    <!-- Sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/tiny_ago/tinyAgo.js"></script>
    <link rel="stylesheet" href="/material-datetime-picker/material-datetime-picker.css">

</head>
<body>
<style>
    td{ cursor: pointer; }
    td:hover { background-color: #2ECCFA; }


</style>
<script>
   $(document).keyup(function(e) {
    if (e.which == 27){
        window.location.href="../";
    }
});
function viewWorkHour(id){
    window.location.href="../work-hour-details/" + id;
}

function searchByUsername(){
    var username = $("#search-by-username").val();
    window.location.href="/" + username;
}

</script>

<script th:inline="javascript">
/*<![CDATA[*/
$( function() {
    $('#search-by-date-range-and-username').submit(function() {
        if($.trim($("#end_time_range").val()) === "" && $.trim($("#start_time_range").val()) != ""){
            $("#search-query-validation-error").show();
            return false;
        }
        if($.trim($("#end_time_range").val()) != "" && $.trim($("#start_time_range").val()) === ""){
            $("#search-query-validation-error").show();
            return false;
        }
    });
 });
/*]]>*/





</script>


<header class="text-component text-center">
    <h1>Logines-time-tracking system</h1>
    <h6 th:text="${'Welcome ' + usernameText + '!'}">Welcome username</h6>
    <form id="logoutForm" class="logout-form" method="POST" style="float: left;padding-left: 65%;"
          th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button class="btn btn-primary float-right logout-btn" type="submit">LOG OUT</button>
        <br/>
    </form>
</header>
<div class="cd-tabs cd-tabs--vertical container max-width-md margin-top-xl margin-bottom-lg js-cd-tabs">
    <ul class="cd-tabs__panels">
        <li id="tab-dashboard" class="cd-tabs__panel cd-tabs__panel--selected text-component">
            <form method="get" id="search-by-date-range-and-username" th:action="@{/searchquery}" th:object="${workHourForm}">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Start time</label>
                    <div class="col-sm-10">
                        <input id="start_time" name="start_time" th:field="*{start_time}" type="text"
                               th:attr="data-field='datetime'" class="form-control" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label pt-n1">End time</label>
                    <div class="col-sm-10">
                        <input id="end_time" name="end_time" th:field="*{end_time}" type="text"
                               th:attr="data-field='datetime'" class="form-control" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label pt-n1">Username</label>
                    <div class="col-sm-10">
                        <input type="text" name="username" id="search-work-hour-by-username" style="width: 50%!important;" class="form-control">
                    </div>
                </div>
                <div class="form-group row float-right">
                    <button type="submit" class="btn btn-primary">SEARCH</button>

                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </div>
            </form>
            <hr />
            <h3 th:text="${searchParam}"></h3>
            <h3 th:text="${lol}"></h3>

            <a th:if="${workHours!=null and !workHours.empty}" href="../">
                Back to main page
            </a>
            <h6 th:if="${workHours==null or workHours.empty}">No records found in workhour history</h6>
            <table th:if="${workHours!=null and !workHours.empty}" class="table logines-table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Lunch time</th>
                    <th>Added</th>
                </tr>
                </thead>
                <tbody>
                <tr class="list-item" th:each="workHour : ${workHours}"
                    th:onclick="'viewWorkHour(' + ${workHour.id} +')'">
                    <td th:text="${workHour.username}"></td>
                    <td th:text="${workHour.start_time}"></td>
                    <td th:text="${workHour.end_time}"></td>
                    <td th:text="${workHour.lunch_time}"></td>
                    <td th:text="${workHour.created_at}"></td>
                </tr>
                </tbody>
            </table>
            <div class="p-t-136">
                <a href="../">
                    Back to main page
                </a>
            </div>
        </li>
    </ul>
</div>
<script src='/rome-date-time-picker/rome.js'></script>
<script src='/rome-date-time-picker/qruery_result_example.js'></script>

<script src="https://unpkg.com/babel-polyfill@6.2.0/dist/polyfill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rome/2.1.22/rome.standalone.js"></script>
<script src="/material-datetime-picker/material-datetime-picker.js" charset="utf-8"></script>
<script src="/material-datetime-picker/material_search_user_workhour.js" charset="utf-8"></script>


</body>
</html>