<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Class Scheduler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
</head>
<body>
<style>
    td{ cursor: pointer; }
    td:hover { background-color: #2ECCFA; }
</style>
<script>
   $(document).keyup(function(e) {
    if (e.which == 27){
        window.location.href="../";
    }
});
</script>

<div class="container">
    <h2 th:text="${'<a href=\'../../\'> Time-tracker system </a>' + workHour.username + ' work details'}">/<p ></p> workhour details</h2>

    <div class="tab-content ">
        <div class="tab-pane active" id="classesTab">
            <table class="table" id="tableForm">
                <div class="form-group">
                    <label>Start time :</label>
                    <p th:text="${workHour.start_time}"></p>
                </div>
                <div class="form-group">
                    <label>End time:</label>
                    <p th:text="${workHour.end_time}"></p>
                </div>
                <div class="form-group">
                    <label>Workhour notes:</label>
                    <p th:text="${workHour.title}"></p>
                </div>
                <br />
                <br />
                HINT: <i>press ESC to return to main page.</i>
            </table>
        </div>
    </div>
</div>

</body>
</html>