<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
</head>
<body>
<style>
    td{ cursor: pointer; }
    td:hover { background-color: #2ECCFA; }
</style>
<script th:inline="javascript">
/*<![CDATA[*/
  $( function() {
    var allStudents= [
         /*[# th:each="student : ${allStudents}"]*/
            [[${student.name}]]
       /*[/]*/
    ];
    $( "#searchbox" ).keyup(function(){
        $( "#searchbox" ).autocomplete({
          source: allStudents,
          select: function(event, ui) {
                $('#searchbox').val(ui.item.value);
                search();
                return false;
            }
        });
    });
    $('#work-begin-time').datetimepicker({
        "allowInputToggle": true,
        "showClose": true,
        "showTodayButton": true,
        "format": "YYYY-MM-DDTHH:mm:ss",
    });
    $('#work-end-time').datetimepicker({
        "allowInputToggle": true,
        "showClose": true,
        "showTodayButton": true,
        "format": "YYYY-MM-DDTHH:mm:ss",
    });
  });
/*]]>*/


</script>
<script>
   $(document).keyup(function(e) {
    if (e.which == 27){
        window.location.href="../";
    }
});
</script>

<div class="container">
    <h2><a href="../../"> Time-tracking system </a>/Edit workhour</h2>

    <div class="tab-content ">
        <div class="tab-pane active" id="classesTab">
            <table class="table" id="tableForm">

                <form th:action="@{/edit-workHour/} + ${workHour.id}" th:object="${workHour}" method="post">
                    <div class="form-group">
                        <label>Worker username:</label>
                        <input type="text" class="form-control" id="username" th:attr="value = ${workHour.username}" placeholder="Enter name" name="username" readonly/>
                    </div>
                    <div class="form-group">
                        <label>Start time:</label>

                        <div class="input-group date" id="work-end-time">
                            <input type="text" th:value="${workHour.start_time}" id="start_time" name="start_time" placeholder="Work start time" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End time:</label>
                        <div class="input-group date" id="work-begin-time">
                            <input type="text" th:value="${workHour.end_time}" id="end_time" name="end_time" placeholder="Work end time" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Notes:</label>
                        <input type="text" class="form-control" id="title" th:attr="value = ${workHour.title}" placeholder="Notes" name="title"/>
                    </div>

                    <div class="form-group">
                        <label>Workhour added:</label>
                        <input type="text" class="form-control" id="created_at" th:attr="value =${createdAt}" placeholder="Enter name" name="created_at" readonly/>
                    </div>
                    <button type="submit" class="btn btn-success">EDIT</button>&nbsp;&nbsp;
                </form>
                <form th:action="@{/delete-work-hour/} + ${workHour.id}" th:object="${workHour}" method="post">
                    <button type="submit" class="btn btn-dark">DELETE</button>
                </form>
                <br />
                <br />
                HINT: <i>press ESC to return to main page.</i>
            </table>
        </div>
    </div>
</div>

</body>
</html>